doctype
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(href="/stylesheets/material.min.css", rel="stylesheet")
        link(href="/stylesheets/style.css", rel="stylesheet")
        script(src="/js/material.min.js")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        header
        .container
            .main-content
                block content